<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

<bean id="employee" class="com.bean.Employee" autowire="byName">
<property name="id" value="11"></property>
<property name="name" value="Akash"></property>
<property name="salary" value="100000"></property>
</bean>

<bean id="address" class="com.bean.Address">
<property name="city" value="PUNE"></property>
<property name="state" value="MH"></property>
		
		<property name="pincode" value="412369"></property>
</bean>

  


</beans>
