<?xml version="1.0" encoding="UTF-8"?>
<beans 
xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        
        <bean id="employee" class="com.bean.Employee">
        <property name="id" value="1234"></property>
        <property name="name" value="Akshay">  </property>
        <property name="salary" value="890"></property>
        <property name="address" ref="address"> </property>

        </bean>
        
        <bean id="address" class="com.bean.Address">
        <property name="city" value="Pune"></property>
        <property name="state" value="MH"></property>
        <property name="pincode" value="423456"> </property>
         </bean>
         <!--       -->
         <bean id="employee1" class="com.bean.Employee">
         <constructor-arg name="id" value="1235"></constructor-arg>
         <constructor-arg name="name" value="swapnil"></constructor-arg>
         <constructor-arg name="salary" value="50000"></constructor-arg>
         <constructor-arg name="address" ref="address"></constructor-arg>
         </bean>
        </beans>